In [3]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Import pandas and load data into variable

In [4]:
autism = pd.read_csv('Autism.csv')
autism.head()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,1,0,0,1,1,0,0,...,f,White-European,no,no,United States',no,6,18 and more',Self,NO
1,1,1,0,1,0,0,0,1,0,1,...,m,Latino,no,yes,Brazil,no,5,18 and more',Self,NO
2,1,1,0,1,1,0,1,1,1,1,...,m,Latino,yes,yes,Spain,no,8,18 and more',Parent,YES
3,1,1,0,1,0,0,1,1,0,1,...,f,White-European,no,yes,United States',no,6,18 and more',Self,NO
4,1,0,0,0,0,0,0,1,0,0,...,f,?,no,no,Egypt,no,2,18 and more',?,NO

Let's rename the columns to make them more clear

In [5]:

autism.rename(columns={'A1_Score':'A1','A2_Score':'A2','A3_Score':'A3','A4_Score':'A4',
                                        'A5_Score':'A5','A6_Score':'A6','A7_Score':'A7','A8_Score':'A8','A9_Score':'A9',
                                       'A10_Score':'A10','jundice':'Jundice_at_birth','austim':'Autistic_relative','result':'Full_score',
                                        'Class/ASD':'ASD'}, inplace=True)
autism.columns

Index(['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'age',
       'gender', 'ethnicity', 'Jundice_at_birth', 'Autistic_relative',
       'contry_of_res', 'used_app_before', 'Full_score', 'age_desc',
       'relation', 'ASD'],
      dtype='object')

In [6]:
autism.isna().sum()

A1                   0
A2                   0
A3                   0
A4                   0
A5                   0
A6                   0
A7                   0
A8                   0
A9                   0
A10                  0
age                  0
gender               0
ethnicity            0
Jundice_at_birth     0
Autistic_relative    0
contry_of_res        0
used_app_before      0
Full_score           0
age_desc             0
relation             0
ASD                  0
dtype: int64

It looks like all the missing values aren't coded as missing in the NaN format

In [7]:
autism['ethnicity'].value_counts()

White-European      233
Asian               123
?                    95
Middle Eastern '     92
Black                43
South Asian'         36
Others               30
Latino               20
Hispanic             13
Pasifika             12
Turkish               6
others                1
Name: ethnicity, dtype: int64

In this column the missing ethnicities are coded as '?'. I'm not sure yet if we should leave these as they are or convert them into a NaN.

In [8]:
autism['contry_of_res'].value_counts()

United States'           113
United Arab Emirates'     82
New Zealand'              81
India                     81
United Kingdom'           77
                        ...
China                      1
Chile                      1
Lebanon                    1
Burundi                    1
Cyprus                     1
Name: contry_of_res, Length: 67, dtype: int64

In [9]:
autism.groupby('contry_of_res')['ASD'].value_counts()

contry_of_res   ASD
Afghanistan     NO     11
                YES     2
AmericanSamoa   NO      1
                YES     1
Angola          NO      1
                       ..
United States'  NO     60
                YES    53
Uruguay         YES     1
Viet Nam'       NO      4
                YES     1
Name: ASD, Length: 96, dtype: int64

In [10]:
autism['used_app_before'].value_counts()

no     692
yes     12
Name: used_app_before, dtype: int64

In [11]:
count = 0
for i in range(len(autism['ASD'])):
    
    if autism.iloc[i][0:10].sum() == autism.loc[i]['Full_score']:
        count += 1

if count == len(autism['ASD']):
    print('All passed')
else:
    print("There's errors")
print(count)

All passed
704

The cell above is to make sure all of the scores for the individual questions add up to the full score column in which they do in this case.

In [12]:
autism['age_desc'].value_counts()

18 and more'    704
Name: age_desc, dtype: int64

In [13]:
autism = autism.drop(['age_desc'], axis=1)

Everyone was over the age of 18 so we won't need this column.

In [14]:
autism['ASD'].value_counts()

NO     515
YES    189
Name: ASD, dtype: int64

In [15]:
autism.groupby('ASD')['Full_score'].describe()

     count      mean       std  min  25%  50%  75%   max
ASD
NO   515.0  3.631068  1.540569  0.0  3.0  4.0  5.0   6.0
YES  189.0  8.264550  1.058834  7.0  7.0  8.0  9.0  10.0

The average score for people without autism is lower than people with it which is a good sign. The max of NO is even smaller than the min of YES.

In [16]:
autism.groupby('ASD')['age'].describe()

    count unique top freq
ASD
NO    515     44  21   39
YES   189     39  30   13

In [17]:
autism['age'].value_counts()

21     49
20     46
23     37
22     37
19     35
24     34
27     31
18     31
30     30
26     28
25     27
29     27
28     24
31     21
17     18
32     18
35     17
37     17
33     16
40     16
42     15
36     13
38     12
34     12
43     11
44     10
47      8
39      7
55      6
53      6
46      6
50      5
52      5
48      4
45      4
49      3
41      3
54      2
58      2
?       2
56      2
61      2
59      1
64      1
60      1
383     1
51      1
Name: age, dtype: int64

There are two people without an age and one person with an age of 383.

In [18]:
autism[autism['age'] == '?']

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,age,gender,ethnicity,Jundice_at_birth,Autistic_relative,contry_of_res,used_app_before,Full_score,relation,ASD
62,0,0,0,0,0,0,0,0,0,0,?,m,?,no,no,Saudi Arabia',no,0,?,NO
91,0,1,0,0,1,0,1,0,0,1,?,f,?,no,no,Jordan,no,4,?,NO

In [19]:
autism = autism.drop(autism[autism['age'] == '?'].index)

Since the age and ethinicity are missing and they have low scores and don't have autism we will just drop them in this case. Now we can convert age into an int type

In [20]:
autism.dtypes

A1                    int64
A2                    int64
A3                    int64
A4                    int64
A5                    int64
A6                    int64
A7                    int64
A8                    int64
A9                    int64
A10                   int64
age                  object
gender               object
ethnicity            object
Jundice_at_birth     object
Autistic_relative    object
contry_of_res        object
used_app_before      object
Full_score            int64
relation             object
ASD                  object
dtype: object

In [21]:
autism['age'] = autism['age'].astype(int)

In [22]:
autism.dtypes

A1                    int64
A2                    int64
A3                    int64
A4                    int64
A5                    int64
A6                    int64
A7                    int64
A8                    int64
A9                    int64
A10                   int64
age                   int32
gender               object
ethnicity            object
Jundice_at_birth     object
Autistic_relative    object
contry_of_res        object
used_app_before      object
Full_score            int64
relation             object
ASD                  object
dtype: object

Now we can filter out the 383 much easier and set it as the mean age.

In [23]:
autism['age'].mean()

29.698005698005698

In [24]:
autism[autism['age'] > 300]
autism.loc[autism['age'] == 383] = 29

In [25]:
autism.loc[52]['age']

29

In [26]:
autism.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,age,gender,ethnicity,Jundice_at_birth,Autistic_relative,contry_of_res,used_app_before,Full_score,relation,ASD
0,1,1,1,1,0,0,1,1,0,0,26,f,White-European,no,no,United States',no,6,Self,NO
1,1,1,0,1,0,0,0,1,0,1,24,m,Latino,no,yes,Brazil,no,5,Self,NO
2,1,1,0,1,1,0,1,1,1,1,27,m,Latino,yes,yes,Spain,no,8,Parent,YES
3,1,1,0,1,0,0,1,1,0,1,35,f,White-European,no,yes,United States',no,6,Self,NO
4,1,0,0,0,0,0,0,1,0,0,40,f,?,no,no,Egypt,no,2,?,NO

In [27]:
autism.to_csv('cleanedAutismData.csv')