In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
autism = pd.read_csv('cleanedAutismData.csv')

In [5]:
autism.head()

,Unnamed: 0,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,age,gender,ethnicity,Jundice_at_birth,Autistic_relative,contry_of_res,used_app_before,Full_score,relation,ASD
0,0,1,1,1,1,0,0,1,1,0,...,26,f,White-European,no,no,United States',no,6,Self,NO
1,1,1,1,0,1,0,0,0,1,0,...,24,m,Latino,no,yes,Brazil,no,5,Self,NO
2,2,1,1,0,1,1,0,1,1,1,...,27,m,Latino,yes,yes,Spain,no,8,Parent,YES
3,3,1,1,0,1,0,0,1,1,0,...,35,f,White-European,no,yes,United States',no,6,Self,NO
4,4,1,0,0,0,0,0,0,1,0,...,40,f,?,no,no,Egypt,no,2,?,NO

In [8]:
autism.gender.value_counts()

m     366
f     335
29      1
Name: gender, dtype: int64

I realized there's more cleaning that needs to be done so I will get that done really quick.

In [13]:
autism = autism[autism['gender'] != '29']

m    366
f    335
Name: gender, dtype: int64

In [21]:
autism.ASD.value_counts()

NO     512
YES    189
Name: ASD, dtype: int64

In [22]:
autism.to_csv('cleanedAutismData.csv')